/Kahvikaveri/target/
/KahvikaveriAndroid/gen/
/KahvikaveriAndroid/nbandroid/
/KahvikaveriLib/nbproject/private/
/KahvikaveriAndroid000/bin/
/KahvikaveriAndroid000/gen/
/KahvikaveriAndroid000/nbandroid/
/Kahvikaveri/bin/
/Kahvikaveri/gen/
/Kahvikaveri/src/target/